
/* modelo de caja*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.todo-body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
}

.registro__body{
    /* background-color: green; */
    background: url(./imagenes/fondos/mona-eendra-vC8wj_Kphak-unsplash1.jpg);/* RECORDA NO LLEVA CORCHES LA URL*/
    /* height: 950px;*/
    /* background-position: center; */
    background-repeat: no-repeat;
    /*background-size: cover;
    position: relative; */
}

/* SECCION HEADER */
.registro__header{
    padding: 15px;
    text-align: center;
    outline: 2px solid green;
}
.registro__header::before{ /*before, se agrega el contenido despues de.. */
    content: "LA TETERIA";/*agrega texto desde el css al html*/   
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

/* SECCION CONTAINER */
.registro-container{
    width: fit-content;
    height: fit-content;
    top: 40%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    border-color: rgb(232, 155, 55);
    border-style: groove;
    border-width: 2px;
    box-shadow: 0 30px 30px; /*Sombra de la caja */
    /* outline: 2px solid violet; */
    background: url(./imagenes/fondos/mona-eendra-vC8wj_Kphak-unsplash.jpg);
}


.registro__titulo{ /* LA TETERIA */
    margin-bottom: 20px;
    text-align: center;
}
.registro-inputs{/*Aplica a todos los inputs*/ 
    width: 250px;
    margin-top: -3px;
    margin-bottom: -4px;/*espacio entre las celdas*/
    padding-top: 7px;/*padding del campo input*/
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 3%;
    border-radius: 25px;
    border: 2px solid rgb(232, 155, 55);

    text-align: left;
    background: rgba(249, 231, 159,0.5);/*relleno del fondo del campo input*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
}

.registro-inputs:focus{
    border: 2px solid black;
}


/* */
.registro-label{/*Aplica a todos los label*/ 
    margin-bottom: 4px;
    /* margin-top: 4px; */
    width: 250px;
    font-family: Arial,Helvetica,sans-serif;
    /* margin-top: 10px;/*la posicion del label dentro del campo del input  */
}
.registro-label-indicaciones{/*Aplica a todos los label-indicaciones*/ 
    margin-top: 4px;
    margin-bottom: 14px;/*la posicion del label bajo el campo del input*/
    width: 250px;
    padding-left: 10px ; 

    justify-content: left;/*Coloca el texto del label a la izq*/
    font-family: Arial,Helvetica,sans-serif;/*Este tipo de letra se ve mejor para los comentarios, dejarlo tal cual*/
    font-size: 10px;
    color: red;
}
.botonRegistrandose,.botonVolverHome{
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.botonRegistrandose{
    margin-top: 9%;
    font-size: 15px;
    /* cursor: progress; */
}

.botonVolverHome{
    margin-top: 6%;
}





/* FOOTER */
/*Nota : para dejar el footer siempre abajo debe dejarlo en position absoluta y botom 0 */
/*Nota2 : Solo funciona bien cuando hay poco contenido dentro de la pagina, al la pagina ser larga debo aplicar otra forma */
/*Nota3 : ver este video explicativo https://www.youtube.com/watch?v=PSD5pFi6bx4*/
/*Nota4 : aplique solucion ultima del video, cree una clase para el body(todo-body) y luego solo agrege margin-top:auto, esto me dejo el body abajo.*/
.registro__footer{
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 50px;
    outline: 2px solid violet;
    margin-top: auto;
    text-align: center;
    justify-content: center;
}
